#roadBox {
    width: 100%;
    height: 660px; 
    position: relative; 
    top: 5%; 
}

#roadImg {
    position: absolute;
    z-index: -1;
}

#eventImg {
    position: absolute;
    z-index: 1;
    top: 45%;
    left: 40%;
}

#carImg {
    position: absolute;
    z-index: 1;
}

#dialogBox {
    width: 100%;
    font-size: 32px;
}

#coolness {
    width: 100%;
    height: 50px;
    border: 2px solid black;
}