#roadBox {
    width: 100%;
    height: 660px; 
    position: relative; 
    top: 5%; 
}

#roadImg {
    position: absolute;
    z-index: 0;
}

#eventImg {
    position: absolute;
    z-index: 2;
    top: 35%;
    left: 55%;
}

#carImg {
    position: absolute;
    z-index: 1;
}

.responseImg {
    height: 50px;
    margin-right: 6px;
}

#dialogBox {
    width: 100%;
    font-size: 32px;
}

#coolness {
    width: 100%;
    height: 50px;
    border: 2px solid black;
}