#roadBox {
    width: 100%;
    height: 660px;
}

#roadImg {
    position: fixed;
    z-index: -1;
}

#eventImg {
    position: fixed;
    z-index: 1;
    margin-top: 300px;
    margin-left: 40%;
}

#carImg {
    position: relative;
    z-index: 1;
}

#dialogBox {
    width: 100%;
    font-size: 32px;
}

#coolness {
    width: 100%;
    height: 50px;
    border: 2px solid black;
}